@import 'src/scss/mixins';
@import 'src/scss/vars';

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }


  &__nav {
    display: flex;
    gap: 56px;
    align-items: center;
  }

  &__a {
    @include text($ff, 700, 18px, 25px, $lightgray) ;
    letter-spacing: -0.5px;
    transition: $transition;

    &:hover{
        color: $white;
        transform: translate(1.1);
    }
  }
}
