@import 'src/scss/mixins';
@import 'src/scss/vars';

.footer {
  border-top: 1px solid #696969;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0 36px 0;
  }

  &__text {
    letter-spacing: -0.5px;
    @include text($ff, 600, 16px, 36px, $text-gray) ;

    span{
        color: $lightgray;
    }
  }

  &__soc{
    display: flex;
    gap: 43px;
  }
}

.footer__icon{
    transition: .1s all ease-in-out;;

    &:hover{
        transform: scale(1.2);
    }
}


